
.hero-reviews {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/hero-reviews.jpg) no-repeat 50% 0%;
    &__title {
        line-height: 1.15 !important;
    }
    &__button {
        width: fit-content;
        padding: 16px 60px;
    }
}
@media (max-width: 1440px) { 
    .hero-reviews {
        &__button {
            padding: 16px 40px;
        }
    }
}
@media (max-width: 1200px) { 

}
@media (max-width: 768px) { 
    .hero-reviews {
        background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../images/hero-reviews.jpg) no-repeat 82% 0%;
        &__button {
            margin-top: 10px;
            padding: 10px 20px;
        }
    }
}

@media (max-width: 378px) { 

}
