// Заголовки, общие БЄМ блоки и проче...

.button {
    color: $white;
    background: linear-gradient(180deg, rgba(171,145,196,1) 0%, rgba(171,145,196,1) 0%, rgba(119,92,150,1) 100%);
    background: 
        linear-gradient(180deg, rgba(171,145,196,1) 0%, rgba(171,145,196,1) 0%, rgba(119,92,150,1) 100%) padding-box, /*this is your grey background*/
        linear-gradient(to bottom, white, #775c96) border-box;
    padding: 8px 30px;
    border: 2px solid transparent;
    border-radius: 17px;
    box-shadow: 0px 6px 0px 0px rgb(99, 75, 125);
    transition: .3s;
    text-align: center;
}
.button:hover {
    background: 
    linear-gradient(170deg, rgba(171,145,196,1) 0%, rgba(171,145,196,1) 0%, rgba(119,92,150,1) 100%) padding-box, /*this is your grey background*/
    linear-gradient(to bottom, white, #775c96) border-box;
    transform: translateY(4px);
    transition: .3s;
    box-shadow: 0px 0px 0px 0px rgb(99, 75, 125);
}
.menu__link{
    display: block;
    text-decoration: none;
    color: $white;
    padding: 5px 0 5px 0;
    transition: .3s;
}
.menu__link:hover{
    transform: scale(1.1);
    opacity: .5;
    transition: .3s;
}
.main-block__title{
    font-size: 65px;
    line-height: 65px;
    margin-top: 60px;
    font-weight: 600;
    text-transform: uppercase;
}
.card {
    &__content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        
    }
    &__title {
        color: $white;
        font-size: 30px;
        font-weight: 500;
        padding: 0 20px;
        display: block;
        margin-top: 20px;
        text-align: center;
    }
    &__content-list {
        padding: 0 20px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 50px;
    }
    &__text {
        color: $white;
        font-size: 16px;
        font-weight: 300;
    }
}
@media (max-width: 1200px) { 
    .main-block__title{
        font-size: 60px;
        line-height: 60px;
    }
    .card {
        &__content{
        }
        &__title {
            color: $white;
            font-size: 20px;
            font-weight: 500;
            padding: 0 20px;
            margin-top: 20px;
        }
        &__content-list {
            padding: 0 20px;
            margin-bottom: 50px;
        }
        &__text {
            font-size: 12px;
            font-weight: 300;
        }
    }
}
@media (max-width: 768px) { 
    .element-image{
        display: none;
    }
    .main-block__title{
        font-size: 30px;
        line-height: 30px;
        text-align: center;
    }
}
@media (max-width: 378px) { 
}
.button {
    &__green {

        display: block;
        border-radius: 50px;
        border: 2px solid transparent;
        background: linear-gradient(180deg, rgba(171,145,196,1) 0%, rgba(89,200,200,1) 0%, rgba(55,147,148,1) 100%);
        background: 
            linear-gradient(180deg, rgba(171,145,196,1) 0%, rgba(89,200,200,1) 0%, rgba(55,147,148,1) 100%) padding-box, /*this is your grey background*/
            linear-gradient(to bottom, white, #379394) border-box;
        box-shadow: none;

        &:hover{
            background: 
            linear-gradient(180deg, rgba(171,145,196,1) 0%, rgba(89,200,200,1) 0%, rgba(55,147,148,1) 100%) padding-box, /*this is your grey background*/
            linear-gradient(to bottom, white, #379394) border-box;

            transform: translateY(4px);
            transition: .3s;
            box-shadow: none;
        }
    }
}
.up__blur{
    height: 100px !important;
    background: linear-gradient(180deg, rgba(255,255,255,1), rgba(255,255,255,0.8), rgba(255,255,255,0.6), rgba(255,255,255,0.4), rgba(255,255,255,0)) !important;
}
.down__blur{

}
.is-close-btn{
    display: none !important;
}
.popups {
    border-radius: 40px !important;
    position: relative;
    &__button {
        z-index: 10;
        position: absolute;
        top: -35px;
        border: 0;
        left:0;
        right:0;
        margin: auto;
        background: none;
        width: 70px;
        height: 70px;
        transition: .3s;
        &:hover{
            transform: scale(1.2);
            transition: .3s;
        }
    }

    &__button-img {
        width: 100%;
        height: 100%;
    }

    &__form {
    }
}
.popup-main-application {
    background: linear-gradient(180deg, #AB91C4 0%, #775C96 100%),
linear-gradient(180.44deg, #FFFFFF 0.39%, rgba(255, 255, 255, 0) 99.49%) !important;
    padding: 60px 20px !important;
    max-width:500px !important;
    &__title {
        color: white;

        font-size: 24px;
        font-weight: 600;
        text-transform: uppercase;
        text-align: center;
        display: flex;
    }

    &__form {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }

    &__input {
        color: #AB91C4 !important;
        &::placeholder{
            color: #AB91C4 !important;
        }
        width: 80% !important;
        border-radius: 15px !important;
        box-shadow: 0px 2.4393672943115234px 19.514938354492188px 0px #00000040;
    }

    &__button {
        font-weight: 300;
    }
    &__star {
        position: absolute;
        &_first {
            left: -23%;
            top: 40%;
            transform: scale(0.5) rotate(35deg);
        }

        &_second {
            right: -17%;
            bottom: -2%;
            transform: scale(0.9) rotate(70deg);
        }
    }
}
.star-popup{
    fill: #AB91C4;
}
@media (max-width: 768px) { 
    .popups {
        border-radius: 25px !important;
        &__button {
            top: -25px;
            width: 50px;
            height: 50px;

            &:hover{

            }
        }
    
    }
    .popup-main-application {

        max-width:300px !important;
        padding: 40px 10px !important;
        &__title {
            font-size: 14px;
        }
    
        &__form {
            margin-top: 15px;
            gap: 15px;
        }
    
        &__input {
            font-size: 14px !important;
            border-radius: 10px !important;
        }
    
        &__button {
            font-size: 14px !important;
            border-radius: 10px !important;
        }
        &__star {
            position: absolute;
            &_first {
                left: -43%;
                top: 30%;
                transform: scale(0.2) rotate(35deg);
            }
    
            &_second {
                right: -38%;
                bottom: -12%;
                transform: scale(0.5) rotate(70deg);
            }
        }
    }
}
html.with-fancybox {
    overflow: auto !important;
}




.popup-sign-up {


    background: #FFFFFF !important;

    padding: 80px 40px 40px!important;
    

    &__form {
        z-index: 2;
    }

    &__title{
        color: #A086BA;
    }
    &__wrapper {
        position: absolute;
        width: 100%;
        top: 0;
        height: 100%;
        overflow: hidden;
    }

    &__input {
        width: 100% !important;
        padding: 15px 20px !important;
        option{
            color: #AB91C4BF;
        }
    }

    &__star {
        position: absolute;

        &_first {
            right: -16%;
            top: -11%;
            transform: rotate(7deg) scale(0.8);
        }


        &_second {
            left: -28%;
            top: 44%;
            transform: rotate(-24deg) scale(0.8);
        }


        &_third {
            right: -18%;
            bottom: -6%;
            transform: rotate(-11deg) scale(0.9);
        }
    }
    &__select{
        width: 400px;
        z-index: 2;
        position: relative;
        background-color: #FFFFFF;
    }
    &__block{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__button {

        &_first {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
        &_active{
            border-radius: 15px 15px 0 0 !important;
        }
    }

    &__arrow {
        transition: .3s;
        transform: scale(1.5);
        &_active{
            transform: scale(1.5) rotate(180deg);
            transition: .3s;
        }
    }


    &__dropdown-menu {
        background: #FFFFFF;
        height: 200px;
        overflow-y: scroll;
        position: absolute;
        display: none;
        max-height: 0;
        transition: .3s;
        padding: 15px 20px !important;
        width: 100%;
        border-radius: 0 0 15px 15px;
        &_active{
            display: flex;
            flex-direction: column;
            gap: 20px;
            transition: .3s;
            max-height: 100vh;
        }
    }

    &__dropdown-element {
        list-style-type: none;
        color: #AB91C4BF;
        transition: .3s;
        &:hover{
            color: #AB91C4;
            transition: .3s;
        }
    }
}
.star-popup-sign-up{
    fill: #AB91C480;
}

@media (max-width: 768px) { 
    .popup-sign-up {
        padding: 60px 40px 30px!important;
        &__select{
            width: 230px;

        }
        &__dropdown-element {
            font-size: 14px;
        }
        &__star {
            position: absolute;
    
            &_first {
                right: -32%;
                top: -16%;
                transform: rotate(7deg) scale(0.6);
            }
    
    
            &_second {
                left: -43%;
                top: 36%;
                transform: rotate(-24deg) scale(0.6);
            }
    
    
            &_third {
                right: -37%;
                bottom: -12%;
                transform: rotate(-11deg) scale(0.7);
            }
        }
 
    }
}
.agree {
    
    &__block {
        margin-top: 20px;
        display: flex;
        gap: 10px;
        z-index: 3;
        position: relative;
        &_center{
            justify-content: center;
        }
    }

    &__check {
    }

    &__text {
        color: white;
        font-size: 18px;
        a{
            border-bottom: 1px solid white;
        }
    }
}
.popup-main-application__star{
    pointer-events: none;
    z-index: 1;
}
@media (max-width: 1200px) { 
    .agree {

        &__block {
            justify-content: center;
        }
    
        &__check {
        }
    
        &__text {
            color: white;
            a{
                border-bottom: 1px solid white;
            }
        }
    }
}
@media (max-width: 768px) { 
    .agree {

        &__block {
            justify-content: center;
        }
    
        &__check {
        }
    
        &__text {
        font-size: 14px;
        text-align: center;
        }
    }
}
.fed__button_disable{
    pointer-events: none;
    opacity: 0.75;
}
.popups__form .agree__block{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 20px;
}
.popups__form .agree__text{
    text-align: center;
}
.popup-sign-up .agree__text{
    color: #AB91C4;
    width: 70%;
    align-items: center;
    text-align: center;
}
.popup-sign-up .agree__text a{
    border-bottom: 1px solid #AB91C4;
}